Nodered.json
[{"id":"60b74a04.0da064","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7dcd01db.978b4","type":"debug","z":"60b74a04.0da064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":280,"wires":[]},{"id":"728b81a8.3a4f1","type":"function","z":"60b74a04.0da064","name":"","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"sex\",msg.payload.sex)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"children\",msg.payload.children)\nglobal.set(\"smoker\",msg.payload.smoker)\nglobal.set(\"region\",msg.payload.region)\nvar apikey=\"7h8fVZdg8HUhD5q_14pArYmLynW6d7LL3q36PyjKqkTe\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[["2994c64e.7aee4a"]]},{"id":"2994c64e.7aee4a","type":"http request","z":"60b74a04.0da064","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":220,"wires":[["9112c594.8a4d28","dea446cc.658e98"]]},{"id":"9112c594.8a4d28","type":"debug","z":"60b74a04.0da064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":320,"wires":[]},{"id":"dea446cc.658e98","type":"function","z":"60b74a04.0da064","name":"Pre Prediction","func":"var age = global.get(\"age\")\nvar sex = global.get(\"sex\")\nvar bmi = global.get(\"bmi\")\nvar children = global.get(\"children\")\nvar smoker = global.get(\"smoker\")\nvar region = global.get(\"region\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"age\", \"sex\", \"bmi\",\"children\", \"smoker\",  \"region\"]],\"values\": [[age,sex,bmi,children,smoker,region]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":60,"wires":[["a90df7cd.cd98f8"]]},{"id":"a90df7cd.cd98f8","type":"http request","z":"60b74a04.0da064","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/118eca17-91fc-4c57-b8c4-f3cbd418ff7c/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":140,"wires":[["879741e0.f5fef","2880ab24.24d4b4"]]},{"id":"879741e0.f5fef","type":"debug","z":"60b74a04.0da064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":220,"wires":[]},{"id":"94878174.a5b8e","type":"inject","z":"60b74a04.0da064","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":100,"wires":[["728b81a8.3a4f1"]]},{"id":"2da1dc7e.3488a4","type":"debug","z":"60b74a04.0da064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":240,"wires":[]},{"id":"2880ab24.24d4b4","type":"function","z":"60b74a04.0da064","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":40,"wires":[["2da1dc7e.3488a4","38f72e7c.73c042"]]},{"id":"38f72e7c.73c042","type":"ui_text","z":"60b74a04.0da064","group":"64a182ea.477d7c","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":340,"wires":[]},{"id":"dc90bd87.c4237","type":"ui_form","z":"60b74a04.0da064","name":"","label":"","group":"64a182ea.477d7c","order":1,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"sex","value":"sex","type":"text","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"number","required":true,"rows":null},{"label":"children","value":"children","type":"number","required":true,"rows":null},{"label":"smoker","value":"smoker","type":"text","required":false,"rows":null},{"label":"region","value":"region","type":"text","required":false,"rows":null}],"formValue":{"age":"","sex":"","bmi":"","children":"","smoker":"","region":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":180,"wires":[["7dcd01db.978b4","728b81a8.3a4f1"]]},{"id":"64a182ea.477d7c","type":"ui_group","z":"60b74a04.0da064","name":"New","tab":"321c4edd.637ca2","order":1,"disp":true,"width":"6","collapse":false},{"id":"321c4edd.637ca2","type":"ui_tab","z":"60b74a04.0da064","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]